# Researching the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/synthetic_career_dataset.csv')

In [3]:
df.head()

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity,Career
0,Art,Expert,Flexible,Masters,Thinker,Creative,Very High,Excellent,Strong,Medium,Software Engineer
1,Technology,NaN,Flexible,PhD,Thinker,Logical,NaN,Poor,Moderate,Very High,Marketing Manager
2,Art,Intermediate,Team,PhD,Extrovert,Intuitive,NaN,Excellent,Collaborative,Low,Data Scientist
3,Business,Expert,Remote,Diploma,Extrovert,Intuitive,High,Fluent,NaN,High,Data Scientist
4,Technology,Expert,Solo,Bachelors,Thinker,Creative,Very High,Excellent,Visionary,Medium,Data Scientist

In [4]:
df.shape

(5000, 11)