In [6]:
import os

if os.path.exists(r'data\new_career_dataset.csv'):
    print('exist')

exist

In [7]:
from dataclasses import dataclass
import pandas as pd

@dataclass
class DataPath:
    data_path: str = r'data\new_career_dataset.csv'
    artifact_data_path = r'artifacts/data.csv'

paths = DataPath()

df = pd.read_csv(paths.data_path)
df.head()

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity,Career
0,art,expert,flexible,masters,thinker,creative,very high,excellent,strong,medium,business analyst
1,technology,advanced,flexible,phd,thinker,logical,high,poor,moderate,very high,site reliability engineer
2,art,intermediate,team,phd,extrovert,intuitive,high,excellent,collaborative,low,financial analyst
3,business,expert,remote,diploma,extrovert,intuitive,high,fluent,collaborative,high,speech recognition specialist
4,technology,expert,solo,bachelors,thinker,creative,very high,excellent,visionary,medium,game developer

In [8]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [9]:
X = df.drop(['Career'], axis=1)
y = df['Career']

In [22]:
columns = X.columns

In [23]:
preprocessor = ColumnTransformer([
    ('OHE', OneHotEncoder(sparse_output=False), columns)
], remainder='passthrough')

In [24]:
trf_X = preprocessor.fit_transform(X)
trf_X

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [26]:
le = LabelEncoder()
le.fit_transform(y)

array([ 7, 31, 18, ..., 36, 22,  9])

In [34]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [35]:
test.shape

(1000, 11)