In [6]:
import os

if os.path.exists(r'data\new_career_dataset.csv'):
    print('exist')

exist

In [7]:
from dataclasses import dataclass
import pandas as pd

@dataclass
class DataPath:
    data_path: str = r'data\new_career_dataset.csv'
    artifact_data_path = r'artifacts/data.csv'

paths = DataPath()

df = pd.read_csv(paths.data_path)
df.head()

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity,Career
0,art,expert,flexible,masters,thinker,creative,very high,excellent,strong,medium,business analyst
1,technology,advanced,flexible,phd,thinker,logical,high,poor,moderate,very high,site reliability engineer
2,art,intermediate,team,phd,extrovert,intuitive,high,excellent,collaborative,low,financial analyst
3,business,expert,remote,diploma,extrovert,intuitive,high,fluent,collaborative,high,speech recognition specialist
4,technology,expert,solo,bachelors,thinker,creative,very high,excellent,visionary,medium,game developer

In [43]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [44]:
X = df.drop(['Career'], axis=1)
y = df['Career']

In [45]:
columns = X.columns

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [47]:
preprocessor = ColumnTransformer([
    ('OHE', OneHotEncoder(sparse_output=False), columns)
], remainder='passthrough')

In [48]:
X_train_trf = preprocessor.fit_transform(X_train)
X_test_trf = preprocessor.transform(X_test)

In [49]:
le = LabelEncoder()

y_train_trf = le.fit_transform(y_train)
y_test_trf = le.transform(y_test)

In [34]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [35]:
test.shape

(1000, 11)

In [38]:
df

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity,Career
0,art,expert,flexible,masters,thinker,creative,very high,excellent,strong,medium,business analyst
1,technology,advanced,flexible,phd,thinker,logical,high,poor,moderate,very high,site reliability engineer
2,art,intermediate,team,phd,extrovert,intuitive,high,excellent,collaborative,low,financial analyst
3,business,expert,remote,diploma,extrovert,intuitive,high,fluent,collaborative,high,speech recognition specialist
4,technology,expert,solo,bachelors,thinker,creative,very high,excellent,visionary,medium,game developer
...,...,...,...,...,...,...,...,...,...,...,...
4995,technology,advanced,solo,bachelors,thinker,intuitive,very high,fluent,collaborative,low,web developer
4996,science,intermediate,flexible,high school,extrovert,logical,medium,poor,collaborative,medium,automation engineer
4997,art,advanced,flexible,diploma,introvert,intuitive,very high,poor,visionary,high,technical writer
4998,medicine,intermediate,team,masters,doer,creative,very high,poor,moderate,high,iot specialist
4999,medicine,advanced,flexible,diploma,extrovert,analytical,high,outstanding,visionary,exceptional,computer vision engineer

In [51]:
X_train_trf, X_test_trf, y_train_trf, y_test_trf

(array([[0., 1., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 1., 0., ..., 1., 0., 0.],
        [1., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 1., 0.]]),
 array([[0., 0., 1., ..., 1., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        ...,
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        [1., 0., 0., ..., 0., 1., 0.]]),
 array([10,  4, 25, ..., 31, 30, 26]),
 array([20,  6,  7, 35, 32, 32,  8,  2,  5, 26, 16,  4, 11, 18, 24,  6, 32,
         4, 33, 32,  4, 19, 22, 20, 37,  2, 31,  1, 28,  0, 32, 38, 36,  1,
        19,  3,  8, 18, 25,  5, 19, 31, 29, 34, 25,  3, 28, 17, 29, 34, 32,
        21, 19, 30, 17, 32,  5, 38,  2,  6, 23,  7, 34, 23, 19,  5, 14, 35,
         3, 13,  3,  8, 20, 34, 25,  4, 28, 10, 23, 14, 10, 27,  4, 30, 33,
         2, 12, 19,  8, 14, 10, 32, 28, 38, 38, 17,  7, 14, 33,  0, 39, 26,
         3,  5,  0, 27, 18,  2, 11,  3,  3, 14, 32, 13, 21,  9, 13,  6, 10,
         1, 19, 22, 30,  7, 39, 26, 18, 16, 19,  3,  0, 22, 38, 12,  2, 36,
        27, 31, 31,  2, 28, 10,  8, 27,  6,  7, 22, 25, 28, 21,  9, 29, 33,
        24, 28, 27,  4, 21, 29, 27, 34, 22, 34, 38, 37,  7,  6, 18, 26,  4,
        22, 26,  3,  4,  7, 39, 33,  9,  3, 20,  4, 26, 29, 30, 37,  6, 27,
        17, 22,  8, 30, 18,  3, 20, 16, 39,  4, 18, 26,  7,  0, 16,  2,  6,
        25, 14,  0, 16,  7, 25, 29, 25, 36, 27,  2,  7, 25, 31,  9, 13,  2,
        24, 11,  2, 19, 13,  9, 32, 11, 10, 31, 38, 24, 22, 16, 31, 22,  0,
        34,  7, 11, 36, 11, 22, 21,  7, 34, 34, 22, 28, 36, 27, 36,  2, 30,
        10, 22, 37, 35, 26, 38, 27,  8,  0, 27, 13, 39, 23, 11, 23, 15, 20,
        13, 31, 39, 19, 23,  5, 16, 27, 24, 29,  7, 18, 30, 24, 15, 14, 25,
         3, 39, 29, 20, 20,  9, 29, 18, 25, 37, 28, 33, 24, 34, 29, 10,  5,
        30,  1, 18, 19,  1,  2, 39,  2,  7, 27, 22, 39, 28,  4, 18, 13, 12,
        15, 32, 38,  0, 13, 34, 32, 13, 36, 24, 23, 15, 18, 34, 34,  2, 10,
        18, 16, 26, 32, 16, 17, 18, 27,  6, 33,  4, 35, 33, 16, 29, 27,  8,
        13, 37, 39, 16,  0, 39, 15, 19, 30, 30,  4,  2,  1, 30,  4, 34,  3,
        15,  6, 18, 15, 38, 19,  0, 36, 10,  1, 10, 18, 24,  7, 34,  4, 21,
         4, 24, 17, 35,  3,  6, 17, 28, 36, 39, 21, 25, 39,  5, 16, 28,  4,
        11, 36, 24, 28,  6, 24, 36, 25, 12, 16, 16, 24, 29, 30, 30,  4, 36,
        16,  9, 10, 18, 35, 15, 20, 27,  6, 10, 15, 20, 23, 33, 38, 39, 19,
        17, 36, 33, 23, 34, 36, 13, 10, 28, 12, 38,  6, 27, 22, 25, 11, 33,
         1,  6, 26,  6,  0, 31,  9,  1, 38, 35, 33,  0,  6, 26, 31, 34, 34,
         7, 35, 14, 17,  5, 22, 37, 35, 39, 24, 17,  0, 20,  8, 23, 30, 16,
         8, 36,  4, 37, 15,  3,  0,  3, 21, 13, 37, 15,  5, 27, 17,  8, 22,
        38,  9, 13, 31,  7, 16, 39, 27,  8, 26,  0, 32, 15,  8,  1,  9, 31,
         3, 39, 39,  7, 31, 17, 38, 26, 10, 39, 15, 29, 13, 36, 39, 13, 21,
        10, 33, 13,  2, 32, 11, 20, 13, 18, 11, 18,  6, 23, 25, 30, 15, 14,
        24,  0, 11, 23,  5,  5, 27, 39, 10,  9,  4,  0, 39, 37, 21, 37, 31,
        33,  6, 10, 38, 35, 13, 34, 14, 32, 12, 35, 10,  8, 35, 19, 17, 21,
        13, 28, 39, 31, 13,  7,  6, 36, 11, 38,  6,  6,  7, 33, 15,  6, 37,
        14, 32, 39, 37,  2, 20, 11, 25,  3, 39, 39, 20, 33,  4, 23, 35,  0,
         8,  8, 16,  6, 33,  4, 27, 17, 32, 27,  1,  9, 34,  6, 10, 38, 37,
         5, 27, 19, 11, 10, 34, 22,  9,  2,  6,  6, 34, 12,  6, 32, 17, 11,
        35,  5, 28, 22, 13, 21, 24, 13, 11,  0,  0, 33,  8,  4, 35, 10, 14,
        33, 24, 33, 24,  4, 39, 38, 31, 14, 17, 23,  4, 26, 19, 35, 18,  8,
        19, 17,  2,  6, 11, 34,  1,  1, 31, 14, 14, 15,  5, 15, 38,  3, 15,
         5, 29,  0, 22, 12,  7, 14, 12,  3, 18, 20, 31,  3,  8, 17, 32, 25,
         7,  7, 34, 31,  5, 22, 39, 39, 20, 11, 21, 13,  9, 11, 15,  6, 38,
        31, 33, 24, 18, 30, 35, 18, 32, 12,  3,  2, 39,  2, 14, 27, 21, 28,
         3, 27, 25, 17, 11, 38,  4,  1, 19,  1, 33,  2, 18, 17, 27, 28, 18,
         6, 31,  4, 29, 30,  9, 14,  8,  6, 21, 34,  0,  8, 10, 14, 10, 20,
        34, 24, 15, 35,  1, 14, 28,  9, 22,  8, 37, 10, 20, 16, 30, 18, 39,
        34, 15, 18, 20, 34, 20,  3, 20, 24, 10,  4, 19, 15, 25, 28, 30, 27,
         3, 39,  3, 33,  4, 22,  8, 33, 30, 26,  4, 37, 16, 31, 33, 39,  3,
        13,  1,  8,  8,  6, 39, 20, 22,  7, 30, 27, 25,  8, 20,  6, 36, 34,
        21,  6, 22, 38, 19, 34,  8, 32, 31, 17, 18,  7, 20,  1,  5, 24, 16,
        19, 12, 25, 29, 26,  2, 27, 16, 29, 31,  4, 22, 31,  4, 14, 36, 28,
        19, 35, 28, 38, 34, 17,  0, 30, 30, 35,  1, 22,  7, 13,  4, 31, 36,
        28, 13,  9, 33, 15, 31, 26, 26,  9,  0,  1, 17, 34, 15, 28, 10,  7,
         7, 11, 33, 33,  8, 26,  3, 37, 18, 16,  9, 16,  7, 33, 13, 22, 28,
        23, 18, 21, 33,  5, 38, 11,  5,  0, 15, 31, 21, 22, 34, 14, 39, 26,
        31, 31, 12, 24,  9, 38,  9, 24,  5, 23, 13, 38,  2, 27,  6, 26,  3,
        24, 23,  3, 24,  6,  5, 28, 38, 24, 34, 34, 32, 16, 22]))

In [90]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.regularizers import l2

In [61]:
len(le.classes_)

40

In [91]:
model = Sequential()
model.add(Dense(256, activation='relu', input_shape=(X_train_trf.shape[1],), kernel_regularizer=l2(0.01)))
# model.add(Dropout(0.2))
model.add(Dense(128, activation='relu', kernel_regularizer=l2(0.01)))
model.add(Dense(64, activation='relu', kernel_regularizer=l2(0.01)))
# model.add(Dropout(0.2))
model.add(Dense(40, activation='softmax'))

In [92]:
model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_23 (Dense)                │ (None, 256)            │        12,288 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_24 (Dense)                │ (None, 128)            │        32,896 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_25 (Dense)                │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_26 (Dense)                │ (None, 40)             │         2,600 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 56,040 (218.91 KB)

 Trainable params: 56,040 (218.91 KB)

 Non-trainable params: 0 (0.00 B)

In [93]:
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [94]:
model.fit(
    X_train_trf, 
    y_train_trf,
    validation_data=(X_test_trf, y_test_trf),
    epochs=20
)

Epoch 1/20

125/125 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.0251 - loss: 5.8726 - val_accuracy: 0.0260 - val_loss: 3.9884
Epoch 2/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0267 - loss: 3.8611 - val_accuracy: 0.0300 - val_loss: 3.7053
Epoch 3/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0289 - loss: 3.6972 - val_accuracy: 0.0300 - val_loss: 3.6904
Epoch 4/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0288 - loss: 3.6876 - val_accuracy: 0.0300 - val_loss: 3.6899
Epoch 5/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0363 - loss: 3.6866 - val_accuracy: 0.0300 - val_loss: 3.6904
Epoch 6/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0292 - loss: 3.6868 - val_accuracy: 0.0300 - val_loss: 3.6908
Epoch 7/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0292 - loss: 3.6872 - val_accuracy: 0.0300 - val_loss: 3.6911
Epoch 8/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0299 - loss: 3.6865 - val_accuracy: 0.0230 - val_loss: 3.6912
Epoch 9/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0290 - loss: 3.6865 - val_accuracy: 0.0230 - val_loss: 3.6917
Epoch 10/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0282 - loss: 3.6872 - val_accuracy: 0.0230 - val_loss: 3.6914
Epoch 11/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0258 - loss: 3.6861 - val_accuracy: 0.0230 - val_loss: 3.6918
Epoch 12/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0337 - loss: 3.6850 - val_accuracy: 0.0230 - val_loss: 3.6917
Epoch 13/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0284 - loss: 3.6880 - val_accuracy: 0.0230 - val_loss: 3.6919
Epoch 14/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0254 - loss: 3.6886 - val_accuracy: 0.0230 - val_loss: 3.6919
Epoch 15/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0303 - loss: 3.6871 - val_accuracy: 0.0230 - val_loss: 3.6922
Epoch 16/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0298 - loss: 3.6862 - val_accuracy: 0.0230 - val_loss: 3.6919
Epoch 17/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0328 - loss: 3.6842 - val_accuracy: 0.0230 - val_loss: 3.6918
Epoch 18/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0322 - loss: 3.6867 - val_accuracy: 0.0230 - val_loss: 3.6920
Epoch 19/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0288 - loss: 3.6861 - val_accuracy: 0.0230 - val_loss: 3.6919
Epoch 20/20
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0308 - loss: 3.6866 - val_accuracy: 0.0230 - val_loss: 3.6921

In [98]:
X_test

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity
2891,medicine,expert,office,masters,doer,logical,low,poor,collaborative,low
493,business,advanced,team,high school,doer,creative,medium,fluent,collaborative,high
670,science,beginner,office,high school,leader,creative,medium,poor,moderate,low
3610,technology,advanced,remote,phd,thinker,practical,high,outstanding,visionary,exceptional
4773,medicine,beginner,solo,phd,extrovert,logical,low,poor,collaborative,low
...,...,...,...,...,...,...,...,...,...,...
1129,art,beginner,solo,high school,leader,logical,high,outstanding,visionary,very high
2894,science,advanced,solo,diploma,introvert,creative,low,poor,collaborative,low
138,business,intermediate,solo,diploma,leader,practical,medium,fluent,strong,exceptional
592,medicine,expert,team,bachelors,thinker,analytical,medium,excellent,collaborative,exceptional
3517,art,beginner,team,bachelors,introvert,logical,medium,poor,strong,medium

In [156]:
input_qurie = list(X_test.loc[2894])

In [157]:
import numpy as np

input_qurie = pd.DataFrame(np.array([input_qurie]), columns=columns)

In [158]:
input_qurie

,Interest,Skill_Level,Work_Style,Education,Personality,Problem_Solving,Tech,Communication,Leadership,Creativity
0,science,advanced,solo,diploma,introvert,creative,low,poor,collaborative,low

In [159]:
prediction_input = np.array([preprocessor.transform(input_qurie)[0]])

In [160]:
prediction_input

array([[0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0.]])

In [161]:
prediction = model.predict(prediction_input)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step

In [162]:
prediction

array([[0.02396186, 0.02263361, 0.0234366 , 0.0231523 , 0.02599659,
        0.02623536, 0.02284913, 0.02545882, 0.02301746, 0.02569979,
        0.02785396, 0.02876105, 0.02372194, 0.02597085, 0.02383758,
        0.0267227 , 0.0255262 , 0.02420458, 0.02856317, 0.0243386 ,
        0.02598333, 0.02588741, 0.02683465, 0.02321241, 0.02278556,
        0.02470937, 0.0265565 , 0.02340666, 0.02365896, 0.02555453,
        0.0216676 , 0.02251566, 0.02678259, 0.02429385, 0.0263499 ,
        0.02456799, 0.02657984, 0.0277435 , 0.02301442, 0.02595302]],
      dtype=float32)

In [163]:
np.argmax(prediction, axis=1)[0]

11

In [164]:
le.classes_[np.argmax(prediction, axis=1)[0]]

'data analyst'